# App
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic-settings==2.3.4
requests==2.31.0        # HTTP Request
python-dotenv==1.0.1    # Environment

# API Gateway
PyJWT==2.9.0  # JWT
